Repository executablebooks/jupyter-cache, pull requests merged in 2024-09, with the labels that each got.

#118 MAINT: pre-commit config updates
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Labels: github_actions

#117 DEV: Update API calls to ``datetime`` functionality
  jupyter_cache/cache/db.py
Labels: duplicate, python

#115 MAINT: remove upper limit of pytest
  pyproject.toml
Labels: dependencies, github_actions

#119 CI: add cron and workflow dispatch
  .github/workflows/tests.yml
Labels: github_actions
